---
// components
import Section from "../elements/Section.astro";
import Text from "../elements/Text.astro";
---

<Section 
    aria-label="Introduction"
    title="Introduction"
    titleHeading="Hey there!"
>
    <Text variant={'normal'} class="text-base-400">Hi, I’m Yeico Daza — a software developer focused on building functional, high-impact systems that optimize operational efficiency. I work full-stack across areas like data management and backend automation, with a strong emphasis on clean architecture, Python development, and creating custom software tools to solve real-world technical problems.</Text>
</Section>